doctype html

html(lang='en')
    head
        title= title
    body
        if status
            h1(style="color: green") Recording is ongoing.
            form(action="/stop", method="POST")
                input(type="submit", value='Durdur')
        else
            h1 Not recording.

        form(action="/addJob", method="POST")
            table.table
                tr
                    th
                        p Channel Name:
                    th
                        input(id='channelName', name='channelName', type='text', style="width: 100%;")
                tr
                    th
                        p Start Date:
                    th
                        input(id='startDate', name='startDate', type='datetime-local', style="width: 100%;")
                tr
                    th
                        p End Date:
                    th
                        input(id='endDate', name='endDate', type='datetime-local', style="width: 100%;")
                tr
                    th
                    th
                        input(type='submit', value='Kaydet')

        table.table.table-striped
            tr
                th Channel Name
                th Start Date
                th End Date
                th Finished
                th Record Status
                th Retry Count
                th

            each job in jobs
                tr
                    td= job.channelName
                    td= new Date(job.startTimestamp).toLocaleString("tr-TR", {hour: "numeric", minute: "numeric", day: "numeric", month: "numeric", year: "numeric"})
                    td= new Date(job.endTimestamp).toLocaleString("tr-TR", {hour: "numeric", minute: "numeric", day: "numeric", month: "numeric", year: "numeric"})
                    td= job.status
                    td= job.record
                    td= job.count
                    td
                        if !job.status
                            form(action="/deleteJob", method="POST")
                                input(name="id", type="hidden", value=job.id)
                                input(type="submit", value='Sil')

    if !status
        form(action="/clearFinishedJobs", method="POST")
            input(type="submit", value='Bitenleri temizle')

style.
    th {
        text-align: left;
    }

script.
    const channelName = document.querySelector('input#channelName');
    const startDate = document.querySelector('input#startDate');
    const endDate = document.querySelector('input#endDate');

    channelName.value = "BEIN SPORTS 1 HD+"

    const now = new Date();
    now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
    startDate.min = now.toISOString().substring(0, (now.toISOString().indexOf("T") | 0) + 6 | 0);
    endDate.min = now.toISOString().substring(0, (now.toISOString().indexOf("T") | 0) + 6 | 0);

    now.setMinutes(now.getMinutes() + 10);
    startDate.value = now.toISOString().substring(0, (now.toISOString().indexOf("T") | 0) + 6 | 0);
    now.setMinutes(now.getMinutes() + 120);
    endDate.value = now.toISOString().substring(0, (now.toISOString().indexOf("T") | 0) + 6 | 0);
